- name: Destroy {{ elb_role_type }} load balancer
  elb_application_lb:
    name: "{{ item.name }}"
    region: "{{ region }}"
    profile: "{{ profile|default(omit) }}"
    state: absent
  with_items: "{{ loadbalancers }}"

